@mixin bodyCopy(){
	font-family: 'freight-sans-pro', sans-serif;
	@include zoom(font-size, 2.1rem);
	letter-spacing: 0.15em;
	@include breakpoint(max, 2) {
		font-size: 1.6rem;
	}
	font-weight: 400;
}

@mixin buttonText(){
	font-family: 'freight-sans-pro', sans-serif;
	@include zoom(font-size, 2.4rem);
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: 500;
	@include breakpoint(max, 2) {
		font-size: 2rem;
	}
	line-height: 2;
}

@mixin inputText() {
	font-family: 'freight-sans-pro', sans-serif;
	@include zoom(font-size, 2.1rem);
	letter-spacing: 0.1em;
	font-weight: 400;
	@include breakpoint(max, 2) {
		font-size: 1.6rem;
	}
	line-height: 2;
}