<div id="wrapper"><!--
 --><div class="contain">
		<div class="kanekta-img">
			<div class="letters">
				<img ng-src="{{r}}" ng-repeat="r in logo track by $index" ng-class="['characters', 'l-'+$index, 'pre']">
			</div>
		</div>
		<div class="intro-sizer squelch">
			<div class="introduction">
				<div class="copy-sizer">
					<div class="copy">
						<center>
							<p>
							Founded by Priyanka Vasudev, Fran Aguila, and Sheen Sagalongos, Kanekta is a consciously curated B2B marketplace that connects ethical fashion brands operating out of sweatshop prone regions to retailers across North America.
								</p>
							<p>
Our mission is to normalize ethical purchasing within the mainstream market by empowering both local artisans and their surrounding communities.

Kanekta's ultimate goal is to foster producer growth, boost consumer consciousness and shift retail buying practices to support ethical alternatives.
								</p>
							<p>
							We are working hard on our launch. To know about the latest news, updates and all things Kanekta, please sign up below! Want to work with us? Drop us a line at priyanka@kanekta.ca.
								</p>
						</center>
					</div>
				</div>
				<div class="form-sizer squelch">
					<div class="form">
						<field ng-repeat="f in fields track by $index" ng-attr-index="{{$index}}"></field>
					</div>
				</div>
				<p class="sign-up-button">
					<a ng-click="openRegister()" class="submitbtn">Sign Up</a>
				</p>
			</div>
		</div>
	</div><!--
--></div>
<div id="preloader">

</div>
