<div id="wrapper"><!--
 --><div class="contain">
		<div class="kanekta-img">
			<div class="letters">
				<img ng-src="{{r}}" ng-repeat="r in logo track by $index" ng-class="['characters', 'l-'+$index, 'pre']">
			</div>
		</div>
		<div class="intro-sizer squelch">
			<div class="introduction">
				<div class="copy-sizer">
					<div class="copy">
						<p>
							Kanekta is an agency that represents ethical brands within the Canadian apparel industry.
							These brands are artisan driven and are located in areas notorious for sweatshop production.
							Kanekta connects these producers with mainstream retailers to increase availability and normalize ethically sourced products in the market.
							Our mission is directly tied to our partners, the artisans.
							By exposing their brand to new markets, they grow, they scale and are thus able to divert more individuals away from a cycle of exploitation into a fair working environment.
							Our goal is to foster producer growth, boost consumer consciousness and shift retail buying practices to support ethical alternatives.
							</p>
						<p>
							We are working hard on our launch. To know about the latest news, updates and all things Kanekta, please sign up below! Want to work with us? Drop us a line at priyanka@kanekta.ca.
						</p>
					</div>
				</div>
				<div class="form-sizer squelch">
					<div class="form">
						<field ng-repeat="f in fields track by $index" ng-attr-index="{{$index}}"></field>
					</div>
				</div>
				<p class="sign-up-button">
					<a ng-click="openRegister()" class="submitbtn">Sign Up</a>
				</p>
			</div>
		</div>
	</div><!--
--></div>
<div id="preloader">

</div>
